body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #111;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
}

.nav-links a {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: gold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
    color: #222;
    background-color: gold;
}

.nav-links i {
    margin-right: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav-toggle .hamburger,
.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
    transform: translateX(-16px);
    content: '';
    width: 30px;
    height: 3px;
    background: gold;
    border-radius: 3px;
}

.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
    position: absolute;
    transition: all 0.3s;
}

.nav-toggle .hamburger::before {
    transform: translate(-15px, -10px);
}

.nav-toggle .hamburger::after {
    transform: translate(-15px, 10px);
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        background-color: #111;
        transition: left 0.3s ease;
        margin: 0;
    }
    
    .nav-links a.first {
        border-top: 1px solid gold;
    }
    
    .nav-links a {
        padding: 15px 20px;
        font-size: 18px;
        border-bottom: 1px solid gold;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-links.nav-active {
        left: 0;
    }

    button.nav-toggle:hover {
        background: transparent;
    }
}

/* Media Queries for Smaller Mobile Devices */
@media (max-width: 480px) {
    .nav-links a {
        padding: 10px 15px;
        font-size: 16px;
    }

    .logo img {
        width: 50px;
    }
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: gold;
    margin-bottom: 20px;
}

.game-info,
.competition-info {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-box,
.competition-box,
.player-box {
    width: 100%;
    padding: 10px 20px;
    max-width: 400px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
}

.game-box p,
.competition-box p,
.player-box p {
    margin: 5px 0;
    line-height: 1.4;
}

.game-box .highlight,
.competition-box .highlight,
.player-box .highlight {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.game-box .subdued,
.competition-box .subdued,
.player-box .subdued {
    font-size: 1em;
    color: #ccc;
}

.auth-buttons,
.auth-form {
    margin-bottom: 20px;
}

.auth-form {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #333;
    border: 1px solid gold;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
}

footer {
    margin-top: 20px;
    text-align: center;
}

button {
    color: #222;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: gold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #222;
    background-color: #FFCC00;
}

input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
}

form input[type="datetime-local"] {
    width: calc(100% - 22px);
}

form input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.admin-section {
    margin-top: 20px;
}

.leaderboard {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.leaderboard th,
.leaderboard td {
    border: 1px solid gold;
    padding: 10px;
    text-align: left;
}

.leaderboard th {
    background-color: #444;
    color: gold;
    font-weight: bold;
}

.leaderboard td.highlight {
    font-size: 1.2em;
    color: #fff;
}

.leaderboard td.subdued {
    font-size: 1em;
    color: #ccc;
}

.past-game {
    opacity: 0.4;
    background-color: #111;
    cursor: default !important;
}

.hidden {
    display: none;
}

.expanded {
    display: block;
    border: 1px solid gold;
}

.prediction-form {
    text-align: left;
}

.prediction-form .highlight {
    text-align: center;
    margin-bottom: 10px;
}

.prediction-form .user-selector {
    margin: 0;
    padding: 2.5px 0;
}

.prediction-form .user-selector label {
    cursor: pointer;
    display: inline-block;
    width: 80%;
}

.prediction-form label {
    width: 48%;
}

.prediction-form input[type="number"] {
    width: 48%;
}

.prediction-form div {
    margin: 10px 0;
}

p.separator {
    width: 100%;
    margin: 15px 0;
    height: 1px;
    background: gold;
}