/* General styles */
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #333;
    border: 1px solid #FFD700;
    text-align: center;
}

.auth-form, .auth-buttons, .admin-section {
    margin-bottom: 20px;
}

.auth-form {
    display: none;
    width: 300px;
}

/* Navigation styles */
nav {
    display: flex;
    align-items: center;
    background-color: #111;
    justify-content: flex-start;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin: 0 0 0 20px;
}

.nav-links {
    margin: 0;
    display: flex;
    list-style: none;
}

.nav-links a {
    padding: 25px;
    display: flex;
    font-size: 22px;
    color: #FFD700;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
    color: #222;
    background-color: #FFD700;
}

.nav-links i {
    margin-right: 8px;
}

.nav-right {
    margin-left: auto;
    padding-right: 20px;
}

/* Header styles */
h1 {
    color: #FFD700;
    margin-bottom: 20px;
}

/* Section styles */
.game-info, .competition-info {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Box styles */
.game-box, .competition-box, .player-box {
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
}

.game-box .highlight, .competition-box .highlight, .player-box .highlight {
    font-size: 1.5em;
    font-weight: bold;
}

.game-box .subdued, .competition-box .subdued, .player-box .subdued {
    font-size: 1em;
    color: #ccc;
}

.game-box p, .competition-box p, .player-box p {
    margin: 5px 0;
    line-height: 1.4;
}

.player-box p {
    margin: 8px 0;
}

.player-box .highlight {
    font-size: 1.4em;
}

/* Leaderboard styles */
.leaderboard {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.leaderboard th, .leaderboard td {
    border: 1px solid #FFD700;
    padding: 10px;
    text-align: left;
}

.leaderboard th {
    background-color: #444;
    color: #FFD700;
    font-weight: bold;
}

.leaderboard td.highlight {
    font-size: 1.2em;
}

input, form input[type="datetime-local"] {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
}

/* Button styles */
button {
    color: #222;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FFD700;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #222;
    background-color: #FFCC00;
}

/* Footer styles */
footer {
    margin-top: 20px;
    text-align: center;
}

.admin-section {
    margin-top: 20px;
}